{% extends 'authentication/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<style>
    .center{
        top: 50%;
        left: 50%;
        width: 30em;
        height: 30em;
        margin-top: -9em;
        margin-left: -15em;
        border: 1px solid #666;
        background-color: #8b0505;
        position: fixed;
    }
    .form {
            padding: 50px;
            text-align: center;
    }
</style>
<div class="center">
    <div class="form">
    <h1>Signup</h1>
    <form method="POST" action="{% url 'authentication:signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Signup</button>
    </form>
    </div>
</div>
{% endblock %}
