{% extends 'authentication/base.html' %}

{% block title %}
    Weight Track
{% endblock %}

{% block content %}
<script type="text/javascript">
    // Retrieve CSRF token from cookie
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    window.onload = function() {
        var dps = []; // dataPoints

        var chart = new CanvasJS.Chart("chartContainer", {
            title: {
                text: "Weight Tracker"
            },
            data: [{
                type: "line",
                dataPoints: dps
            }]
        });

        // Function to update the chart with new data
        function updateChart() {
            chart.options.data[0].dataPoints = dps;
            chart.render();
        }

        // Retrieve weight data...
        var weightData = '{{ weight_data_json|safe }}';
        for (var i = 0; i < weightData.length; i++) {
            var entry = weightData[i];
            dps.push({ x: new Date(entry.date), y: entry.weight });
        }

        updateChart();

        // Form submission event handler
        var form = document.getElementById("weightForm");
        form.addEventListener("submit", function(event) {
            event.preventDefault();
            var weightInput = document.getElementById("Weight");
            var weight = parseFloat(weightInput.value);

            // AJAX request to save weight entry
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{% url 'authentication:weight_track' %}");
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken')); // Include CSRF token in request header
            xhr.onload = function() {
                if (xhr.status === 200) {
                    weightInput.value = "";
                    // Retrieve weight data...
                    var newEntry = JSON.parse(xhr.responseText);
                    dps.push({ x: new Date(newEntry.date), y: newEntry.weight });
                    updateChart();
                }
            };
            xhr.send("weight=" + weight);
        });
    }
</script>
<script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>

{% load static %}

<h1 style="color: red;">Weight:</h1>
<form id="weightForm">
    {% csrf_token %}
    <input id="Weight" type="number" step="any" placeholder="Weight" value="{{ last_weight }}">
    <button type="submit">Input</button>
</form>
<div id="chartContainer" style="height: 270px; width: 100%;"></div>

{% endblock %}
