{% extends 'fintess_app/base.html' %}

{% block title %}
    home
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
    <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
    <div class="col-md-3 col-sm-3 col-xs-3">&nbsp;</div>
    <div class="row align-items-center">
        <div class="col-12 col-md-4">
          <h1>About us: </h1>
          <p></p>
          <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus magna non ligula ullamcorper hendrerit. Nullam justo nisi, bibendum sed malesuada at, pretium id tortor. Mauris interdum mollis purus ut gravida. Integer felis lectus, placerat id ex vitae, varius convallis turpis. Donec mi risus, blandit vitae risus sit amet, dictum gravida ipsum. Nulla facilisi. Aenean consectetur magna et felis varius lobortis. Nunc placerat molestie dictum.

            Duis ullamcorper maximus tempor. Morbi et lacus nulla. Morbi mattis libero leo, sagittis bibendum dolor malesuada eget. Maecenas in condimentum nibh. Aliquam erat volutpat. Pellentesque quis enim sed sapien gravida imperdiet. Morbi posuere vulputate pellentesque. Integer viverra enim vitae ligula interdum laoreet. Sed tincidunt placerat convallis. Proin eu pulvinar augue. Nulla magna lectus, mollis id ante congue, pretium blandit dui. Etiam eu sodales odio. Fusce eget ex quis ex condimentum fringilla. Praesent hendrerit est eget elit convallis, quis elementum eros viverra. Proin ac odio vestibulum lectus aliquet iaculis. In hac habitasse platea dictumst.</h>
        </div>
        <div class="col" align="center">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/f8mL0_4GeV0" allowfullscreen></iframe>
              </div>
        </div>
      </div>
</div>

{% endblock %}